.navigation-bar {
    background-color: white;
    /*position: absolute;*/
    background-color: #2E3543;
    z-index: 2;
    width: 100%
    
}
nav a {
    float: right;
    margin-right: 30px;
    margin-top: 20px;
    text-decoration: none;
    color:#62A38A;
    margin-top: 50px;
    font-size: 1.2em;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; }
div#slider { 
    overflow: hidden;
    height: 580px;
    width: 100%
}


div#slider figure img {
    width: 20%;
    float: left;
    /*position: relative;*/
}
div#slider figure {
  position: relative;
  width: 501%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 29s slidy infinite;
}
.news{
    background-color: #f0f0f0; 
}
.news h3{
    margin-top: 61px;
    font-size: 2em;
    text-align: center;
}
.news div{
    display: inline-block;
    width: 100%;
    margin-top: 20.1px;
    margin-bottom: 81px
}
.news #box{
    width: 20%;
    padding-left: 10.1px;
    margin-left: 40px;
    /*border-style:dashed*/
}
.featured{
    margin-bottom: 40.1px
}
.featured div{
    display: inline-block;
    width: 30%;
    margin-top: 50px;
    margin-left: 30px;
}
.featured{
    text-align: center
}
.featured h4{
    text-align: center
}
.footer{
    padding-left: 250px;
    background-color: #2E3543;
    height: 231px
}
.footer div{
    display: inline-block;
    width: 17%;
    float: left;
    padding-left: 20px
}
.footer h5{
    color: white;
    font-size: 1em;
    padding-top: 20px
}
.footer p{
    color: white
}
hr{
    width: 0px;
    float: left;
    height: 182px;
    background-color: #777;
}
